<div class="card-group">
    <div class="card">
      <img src="../../../assets/img/cenzor.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <button type="button" class="btn btn-block btn-success" [routerLink]="[ '../works/cenzor']">Cenzor</button>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/userList.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <button type="button" class="btn btn-block btn-success" [routerLink]="[ '../works/userslist']">Users List</button>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/userTask.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <button type="button" class="btn btn-block btn-success" [routerLink]="[ '../works/tasklist']">Task List</button>
      </div>
    </div>
  </div>